<main role="main" class="container">
  <div class="row">
    <div class="col12">
      <input type="button" value="Send Toast" class="btn btn-success" onclick="showToast('Mi Mensaje')">
    </div>
  </div>
  <div class="row">
    <div class="col12">
      <input type="button" value="Send message to server" class="btn btn-success" onclick="messageToServer('del cliente')">
    </div>
  </div>
</main>
